<a href="https://colab.research.google.com/github/19PA1A0560/07-03-2020/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

In [2]:
df=pd.read_csv("students_placement_data.csv")
df.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:
x=df["SSC Percentage"].values.reshape(-1,1)
y=df["B.Tech_percentage"].values.reshape(-1,1)

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [13]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
print(model.intercept_)

[6.4894479]

In [15]:
print(model.coef_)

[[0.7025882]]

In [18]:
predicted_=model.predict(X_test) 
predicted_

array([[64.10167998],
       [58.48097441],
       [66.09000458],
       [57.07579802],
       [51.66586891],
       [63.4693506 ],
       [50.82276307],
       [64.68482818],
       [67.96591506],
       [60.70115311],
       [69.01979735],
       [72.29385835],
       [67.82539742],
       [64.31245644],
       [66.91203276],
       [53.56285704],
       [60.8205931 ],
       [66.09703046],
       [59.8861508 ],
       [66.91203276],
       [67.84647507],
       [67.33358568],
       [63.98223999],
       [66.44129867]])

In [19]:
Actual_predicted=pd.DataFrame({'predicted':predicted_.flatten(), 'Actual':Y_test.flatten()})
Actual_predicted

    predicted  Actual
0   64.101680   75.42
1   58.480974   76.02
2   66.090005   61.02
3   57.075798   69.60
4   51.665869   64.36
5   63.469351   35.84
6   50.822763   50.55
7   64.684828   72.57
8   67.965915   72.57
9   60.701153   67.06
10  69.019797   65.60
11  72.293858   85.39
12  67.825397   40.00
13  64.312456   54.16
14  66.912033   70.85
15  53.562857   45.26
16  60.820593   52.00
17  66.097030   70.09
18  59.886151   42.00
19  66.912033   78.60
20  67.846475   70.85
21  67.333586   65.70
22  63.982240   60.72
23  66.441299   74.30

In [21]:
print('R2 error:',metrics.r2_score(Y_test, predicted_))

R2 error: 0.1409370942517577

In [0]:
x=df["inter_Diploma_percentage"].values.reshape(-1,1)
y=df["B.Tech_percentage"].values.reshape(-1,1)

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [24]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
print(model.intercept_)

[1.07708327]

In [26]:
print(model.coef_)

[[0.76375681]]

In [27]:
predicted_=model.predict(X_test) 
predicted_

array([[62.33037973],
       [68.82231264],
       [53.77630341],
       [65.3090313 ],
       [50.9504032 ],
       [69.73882082],
       [61.41387155],
       [58.45813268],
       [69.50969377],
       [65.99641243],
       [66.76016925],
       [53.0125466 ],
       [51.48503297],
       [53.0125466 ],
       [62.48313109],
       [53.92905478],
       [66.08806325],
       [73.40485352],
       [66.98929629],
       [71.0372074 ],
       [71.0372074 ],
       [64.4688988 ],
       [68.36405855],
       [47.13161913]])

In [28]:
Actual_predicted=pd.DataFrame({'predicted':predicted_.flatten(), 'Actual':Y_test.flatten()})
Actual_predicted

    predicted  Actual
0   62.330380   54.00
1   68.822313   74.96
2   53.776303   61.00
3   65.309031   72.57
4   50.950403   38.00
5   69.738821   76.30
6   61.413872   55.49
7   58.458133   54.16
8   69.509694   53.00
9   65.996412   70.01
10  66.760169   75.96
11  53.012547   45.26
12  51.485033   49.67
13  53.012547   62.20
14  62.483131   72.73
15  53.929055   49.68
16  66.088063   68.50
17  73.404854   81.10
18  66.989296   71.65
19  71.037207   72.40
20  71.037207   70.09
21  64.468899   62.97
22  68.364059   69.60
23  47.131619   54.74

In [29]:
print('R2 error:',metrics.r2_score(Y_test, predicted_))

R2 error: 0.5790257006279036

btech percentage is more related to inter percentage

2.the difference b/w train_test_split and cross validation is in train_test split method only we can train and test the data which we are given but in cross validation we can compare the predicted value with actual values to check weather the taken model is related or not

1.Bias is the simplifying assumptions made by the model to make the target function easier to approximate. Variance is the amount that the estimate of the target function will change given different training data. Trade-off is tension between the error introduced by the bias and the variance.